/* // Extra small devices (portrai phones, less than 576px) */
@media (max-width: 575.98px) {
    body, p{
        font-size: 16px; 
    }

    .menu-drawer .current-menu-item a {
        color: #0d71b8;
    }

    .toggle-container, .menu-drawer{
        visibility: visible; 
    }

    .contact-card, .gcc-br, .gcc-menu li:last-child a {
        border-radius: 0;
    }

    .section-title, .gcc-video h1, .page-title h1{
        font-size: 24px;
        width: 100%;
    }

    .about-intro p {
        padding: unset;
    }

    .gcc-video p{
        text-align:unset; 
    }

    .donate-row a {
        width: 50%;
    }

    .who-we-are .row .col-md-6:nth-child(2) {
        padding: 0px 15px;
    }

    .widget-area ul li {
        display:block; 
    }

    .gcc-padding {
        padding: 45px 0px;
    }
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

}